<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.copypos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_laucher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_laucher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <activity
            android:name="com.example.copypos.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="Register"
            android:name="com.example.copypos.activity.RegisterActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:name="com.example.copypos.activity.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Detail Transaksi"
            android:name="com.example.copypos.activity.TransactionDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Pilih Toko"
            android:name="com.example.copypos.activity.BranchListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Tambah Toko Baru"
            android:name="com.example.copypos.activity.EditBranchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Tambah Pegawai"
            android:name="com.example.copypos.activity.EditEmployeeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Pembayaran"
            android:name="com.example.copypos.activity.PaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Tambah Produk Baru"
            android:name="com.example.copypos.activity.EditProductActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Pilih Produk"
            android:name="com.example.copypos.activity.ProductListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Riwayat Stok"
            android:name="com.example.copypos.activity.StockHistoryActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Detail Penjualan"
            android:name="com.example.copypos.activity.ItemSaleDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Daftar Item Terlaris"
            android:name="com.example.copypos.activity.BestSellerListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:label="Status Pembayaran"
            android:name="com.example.copypos.activity.PaymentStatusActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="com.example.copypos.com.squareup.picasso"
            tools:replace="android:authorities"/>
        
    </application>

</manifest>